body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    /* Set the font family */
    background-color: #f0f0f0;    /* Set the background color */
    display: flex;    /* centers content horizontally and vertically */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh;    /* Set the height */
    margin: 0;    /* Remove default margin */
}

.container {
    background-color: #fac6c6;
    padding: 20px;
    border-radius: 8px;    /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);    /* Shadow effect  */
    width: 600px;    /* Fixed width */
    height: 400px;    /* Fixed height */

}

h1 {
    text-align: center;    /* Center-align text */
    margin-bottom: 20px;    /* Margin below heading */
    font-size: 80px;    /* Font size for heading */
    font-family: "Brush Script MT", cursive;    /* Font family for heading */

}

form {
    display: flex;
    margin-bottom: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

button {
    padding: 8px 15px;
    font-size: 16px;
    background-color: #c726c7;
    color: #fff;
    border: none;    /* Remove default button border */

    border-radius: 0 4px 4px 0;
    cursor: pointer; /* Pointer cursor on hover */

}

button:hover {
    background-color: #1d691d; /* Background color change on hover */
}

ul {
    list-style-type: none; /* Remove default list styling */

    padding: 0;
}

li {
    margin-bottom: 8px;
    padding: 8px;
    background-color: #f9f9f9;
    border-radius: 4px;
    display: flex;
    justify-content: space-between; /* Space between items */
    align-items: center; /* Center items vertically */
}

li.completed {
    text-decoration: none; /* Remove text decoration for completed items */

}

li.completed::after {
    content: '\2714'; /* Content to display checkmark */
    font-size: 1.2rem; /* Font size for checkmark  */
    color: #20f327; 
    margin-left: 5px; 
}

.clearBtn {
    margin-top: 10px;
    padding: 8px 15px;
    font-size: 16px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.clearBtn:hover {
    background-color: #e53935;
}
